/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
    padding: 12px;
    margin: 0;
}

nav li {
    list-style: none;
    margin: 0 20px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

#home {
    position: relative;
    height: 50vh; /* You can adjust the height as needed */
    background:url('Hero.jpeg'); /* Your image path */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 120px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)); /* Gradient to darken image */
    z-index: 1; /* Ensures the gradient is on top of the image but below the text */
    filter: blur(4px); /* Apply blur effect */
}

.hero-content {
    z-index: 2; /* Ensures the text is above the gradient */
    position: relative;
    max-width: 80%;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Optional: adds text shadow for better readability */
    opacity: 0; /* Initially hide the text */
    animation: slideIn 1s forwards; /* Apply the sliding effect */
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* Starts off-screen from the left */
        opacity: 1; /* Hidden initially */
    }
    100% {
        transform: translateX(0); /* Ends up in the original position */
        opacity: 1; /* Fully visible */
    }
}
.cta-button {
    background-color: palevioletred;
    color: whitesmoke;
    padding: 10px 20px;
    margin-top:100px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}

section {
    padding: 100px 0px;
    text-align: center;
}
h2{
    font-size: 40px;
    text-decoration: solid;
    color: palevioletred;
}

.fruit-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.Fruits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fruit-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

h3{
    text-align: left;
    margin-left: 200px;
}

footer {

    text-align: center;
    background-color:palevioletred;
    color: white;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}


input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:palevioletred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
